<!DOCTYPE html>
<html lang='en'>
<link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='css/style.css') }}" />

<head>
    <title>Welcome to Neural Style Transfer</title>
</head>

<body>
    <div class="wrapper">
    <div class='container'>
        <p class='message'>
            Neural Style Transfer: Creating art with Deep Learning
        </p>
        <img class="nsfimg" src="{{ url_for('static', filename='img/nsf.png') }}" alt="">
        <div class='upload-pane'>
            <form method="POST" action="{{ url_for('upload') }}" enctype=multipart/form-data>
                <p class="message2"> Upload Content Image </p>
                <input type="file" name="content">
                <p class="message2"> Upload Style Image </p>
                <input type="file" name="style">
                <br />
                <input type="submit" value="Upload">
            </form>
        </div>
    </div>
        <div class="footer">
            <div class="container1">
                <strong> &copy; Pawan Kumar Jain</strong>
            </div>
        </div>
    </div>

</body>
</html>